_BASE_: "../debug_json_dataset.yaml"
RUN_N_TIMES: 1
DATA:
  NAME: "CUB"
  DATAPATH: "D:\\postgraduate1\\project\\datasets\\CUB\\CUB_200_2011"  #TODO: need to specify here
  NUMBER_CLASSES: 200
  MULTILABEL: False
MODEL:
  TYPE: "vit"
  PROMPT:                 # 08.29加入
    NUM_TOKENS: 50        # 08.29加入
    DROPOUT: 0.0          # 08.29加入
SOLVER:
  BASE_LR: 0.25           # 0.1
  WEIGHT_DECAY: 0.001     # 0.01